
html {
    background: #b36db3;  
}

nav li {
    color: #ffffff;
    display:block;
    text-align: left;
    width: 150px;
    padding-right: 1pt;
  }

h1 {
    text-align: center;
    font-family: 'Goudy Trajan', Goudy, serif;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

p {
    text-align: center;
}


.bio {
    text-align: center;
}

.lead {
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    margin-top: 2%;
}

.bio {
    text-align: center;
}

.bioend {
    text-align: center;
}


#myPicture {
    margin-left: 30%;
    height: 450px;
    width: 500px;
}

#imgHome {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 800px;
}

#imgHome1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 800px;
}

#imgHome2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 800px;
}


footer {
    background-color: #ffffff;
    height: 50%;
    width: 50%;
    margin-left: 37%;
    margin-top: 7%;
  }

.icons {
    height: 100px;
    width: 100px;
}

.icons1 {
    height: 80px;
    width: 90px;
}

.icons2 {
    height: 90px;
    width: 90px;
}




